@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Quicksand', sans-serif;
}

.zoomEffect{
    transition: transform 0.3s ease;
}
.zoomEffect:hover{
    transform:scale(1.05);
}

.lineEffect {
    --s: 0.2em;
    /* the thickness of the line */
    --c: #eaee09;
    /* the color */
    /* color: #0000; */
    padding-bottom: var(--s);
    background:
        linear-gradient(90deg, var(--c) 50%, #000 0) calc(100% - var(--_p, 0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.3s;
}

.lineEffect:hover {
    --_p: 100%
}

.gradientBg{
    background: rgb(67, 69, 112);
    background: radial-gradient(
      circle,
      rgba(67, 69, 112, 1) 3%,
      rgba(35, 36, 57, 1) 60%
    );
}